.sources {
    display: flex;
    flex-direction: column;
    font: 300 1em 'Fira Sans', sans-serif;
}

.all {
    display: none;
    cursor: pointer;
    position: relative;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='32' width='32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='none' d='M0 0h32v32H0z'/%3e%3cpath d='m2.002 10 13.999 14 14.001-14z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 3px 4px;
    background-size: 35px;
    width: 40px;
    height: 40px;
    background-color: #30c5ff;
    border: none;
    border-radius: 50%;
    margin: auto;
    margin-top: -2em;
    order: 1;
    transition: 0.5s;
}

.rotate-btn {
    transform: rotate(180deg);
}

.all::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #30c5ff;
}

.display {
    display: block;
}

.source-current.height {
    max-height: 400px;
    transition: max-height 1s ease;
}

.source__item {
    background: none;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus,
.more:hover,
.more:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.1em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.source-main {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 2em 0;
    padding: 0;
    text-transform: uppercase;
}

.source-current {
    display: flex;
    max-height: 110px;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    overflow: auto;
    margin-bottom: 2em;
    transition: max-height 1s ease;
}

.source-current::-webkit-scrollbar {
    width: 0;
}

.source-current::-webkit-scrollbar {
    /* webkit */
    width: 0;
    height: 0;
}

.source-current li {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #30c5ff;
    font-size: 1em;
    margin: 0.2em;
    height: 2em;
    line-height: 1;
    padding: 0.4em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

@media (max-width: 840px) {

    .source-main li,
    .source-current li {
        width: initial;
    }
}

.source-main li {
    color: #00c6ff;
    padding: 10px 20px;
    width: 185px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 700 1.5em tahoma;
    cursor: pointer;
}

.source-main li:hover {
    background-position: 0 0;
    color: #fff;
}